/* Añadir color de fondo a la página #E95A21*/
body {
  background-color: #E95A21;
  font-family: Arial;
}

.card { 
    margin-top: 20px; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
}
.danger {
    background-color: #ffe6e6;
    border: 1px solid red;
}